@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }

  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  html {
    @apply min-h-screen;
    background-color: var(--background);
  }

  #root {
    @apply min-h-screen flex flex-col;
    background-color: var(--background);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-reverse {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

.animate-gradient-reverse {
  animation: gradient-reverse 8s linear infinite;
}